@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Stalinist+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");

body {
    overflow-x: hidden;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
.products-page-container {
    display: flex;
    align-items: top;
    flex-direction: column;
    background-color: rgba(114, 96, 85, 0.3);
}
input, select {
    border: 3px solid rgba(175, 117, 9, 0.87);
    border-radius: 8px;  
    padding: 10px 15px;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: #f7f5f3;  
    color: #3b2a25;  
}

input:focus, select:focus {
    border-color: #6a4e3d;  
    box-shadow: 0 0 5px rgba(106, 78, 61, 0.5); 
    outline: none;  
}
input::placeholder, select:focus {
    color: #6a4e3d;  /* Placeholder color */
}
#search {
    width: 500px; 
    margin-top: 10px;
    margin-right: 75px;
}

#search:focus {
    border-color: #6a4e3d;
    box-shadow: 0 0 5px rgba(106, 78, 61, 0.5); 
}


select {
    width: 180px;  
    margin-top: 10px;
    margin-right: 155px;
    height: 45px;
    cursor: pointer;
}
select::-ms-expand {
    display: none; 
}

.search-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    margin: 10px 0;
}
#product-list-title {
    font-family: "Red Hat Display";
    font-size: 40px;
    margin: 0 0 0 160px;
    color: whitesmoke;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
}

.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: rgba(99, 45, 20, 0.87);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    height: 100%;
    width: 100%;
    padding: 0;
}
.product-list-elements {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.884);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    width: 480px;
    height: 300px;
    margin: 11px;
}

.product-image {
    width: 100%;
    height: 220px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 5px;
}
#product-name,
#product-price,
#product-rating {
    color: black;
    margin: 0;
}
#product-name {
    font-size: 33px;
    font-weight: 900;
}
#product-price {
    font-size: 27px;
    display: flex;
    margin: 0 0 0px 10px;
}
#product-rating {
    font-size: 30px;
    margin: 0;
}
#top-tile-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 0 10px;
}
#products-no-match{
    font-family: "Red Hat Display";
    color: whitesmoke;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 8px;
}

.pagination button {
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    background-color: rgba(99, 45, 20, 0.87);
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.pagination .active-page {
    background-color: #ffbe87;
    color: black;
}
@media (max-width: 750px) {
    #product-list-title{
        font-size: 20px;
        margin-left: 10px
    }
    .product-list-elements{
        height: 120px;
        width: 164px;

    }
    .product-image{
        height: 93px;
        width: 164px;
       
    }
    #product-name,
    #product-price,
    #product-rating {
      
    font-size: 9px;
    text-align: left;
}
    input, select, #search {
        width: 110px;
    }
    #search {
        margin: 10px 0 0 0;
    }
    select {
        margin-right: 20px;
    }
    #products-no-match {
        font-size: 20px;
    }
    .pagination button {
        padding: 6px;
    font-size: 9px;
    }
}