@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
* {
    box-sizing: border-box;
}
body,
p {
    margin: 5px;
}
nav {
    background-color: rgba(99, 45, 20, 0.87);
    padding: 10px 99.5% 10px 10px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    width: 100%;
    max-width: 200px;
}
.nav-bar-wrapper {
    background-color: rgba(114, 96, 85, 0.3);
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.hero-title {
    position: relative;
    left: 43%;
    text-align: left;
}
.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu {
    display: flex;
    position: relative;
    flex-direction: column;
    left: 29%;
}
.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 1px 10px;
    font-size: 30px;
    width: 20px;
    cursor: pointer;
    font-family: "Red Hat Display";
}
.title {
    color: whitesmoke;
    font-family: "Red Hat Display";
    font-size: 25px;
    width: 400px;
    padding-left: 25px;
    margin: 0;
}
.nav-hero {
    display: flex;
    justify-content: space-between;
}
#flavor-text {
    color: rgb(49, 25, 14);
    font-family: "Red Hat Display";
    text-shadow: 0px 4px 6px rgba(124, 121, 121, 0.658);
    margin: 60px 50px 0 0;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
}
#team-sign {
    margin-left: 550px;
    font-style: normal;
    font-weight: 900;
}
.sidebar-menu {
    display: flex;
    flex-direction: column;
    background-color: rgba(99, 45, 20, 0.87);
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    width: 270px;
}

.sidebar-menu a {
    color: whitesmoke;
    font-family: "Red Hat Display";
    font-weight: bold;
    display: flex;
    margin: 5px 5px 5px 10px;
    width: 80px
}

h3 {
    margin: 5px 0 5px 10px;
    color: whitesmoke;
}
